<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http:/www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>

<section id="priorities" class="align-items-center" th:fragment="TopSection">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <nav th:replace="fragments :: adminNav"></nav>
            </div>

            <div class="col-6" >
                <table class="table table-bordered">
                    <th:block th:each="link : ${listLinks}">
                        <tr th:if="${!link.hidden}">
                            <td><a th:text="${link.name}"></a></td>
                            <td><a th:href="@{'/account/manageLinks/edit/' + ${link.id}}"
                                    sec:authorize="hasAnyAuthority('ADMIN','EDITOR')">edit</a></td>
                        </tr>
                    </th:block>
                </table>
                <table class="table table-bordered">
                    <th:block th:each="link : ${listLinks}">
                        <tr  th:if="${link.hidden}">
                            <td style="color:LightGray"> <a  th:text="${'-HIDDEN-  ' + {link.name}}"></a> </td>

                            <td> <a th:href="@{'/account/manageLinks/edit/' + ${link.id}}"
                                    sec:authorize="hasAnyAuthority('ADMIN','EDITOR')">edit</a> </td>
                        </tr>
                    </th:block>
                </table>
            </div>


            <div class="col-4">
                <form th:action="@{/account/manageLinks/new}" th:object="${link}" th:method="get"
                      style="max-width: 600px; margin: 0; auto">
                    <div class="m-3">
                        <div class="text-center p-3">
                            <button type="submit" class="btn btn-success"
                                    sec:authorize="hasAnyAuthority('ADMIN','EDITOR')">Add New Link</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>





</body>
</html>