<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <nav th:replace="fragments :: adminNav"></nav>
        </div>
        <div class="col-lg">
            One of three columns
        </div>
        <div class="col-lg">
            One of three columns
        </div>
    </div>
</div>




</body>
</html>