<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http:/www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: head"></head>

<body>
<div class="h-screen bg-gray-50 flex overflow-hidden">

    <div class="hidden w-28 sidebar-color overflow-y-auto md:block">
        <!-- Narrow sidebar -->
        <div class="w-full py-6 flex flex-col items-center">
            <div class="flex-1 mt-6 w-full px-2 space-y-1" sec:authorize="hasAnyAuthority('ADMIN','EDITOR')">
                <!-- Current: "bg-indigo-800 text-white", Default: "text-indigo-100 hover:bg-indigo-800 hover:text-white" -->
                <a th:href="@{/account}"
                   class="text-indigo-100 hover:bg-blue-700 hover:text-white group w-full p-3 rounded-md flex flex-col items-center text-xs font-medium">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"/>
                    </svg>
                    <span class="mt-2">Exit Admin</span>
                </a>
                <a th:href="@{/account/manageUsers}"
                   class="text-indigo-100 hover:bg-blue-700 hover:text-white group w-full p-3 rounded-md flex flex-col items-center text-xs font-medium">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
                    </svg>
                    <span class="mt-2">Users</span>
                </a>

                <a th:href="@{/account/manageUi}"
                   class="text-indigo-100 hover:bg-blue-700 hover:text-white group w-full p-3 rounded-md flex flex-col items-center text-xs font-medium">
                    <!-- Heroicon name: outline/view-grid -->
                    <svg class="text-indigo-300 group-hover:text-white h-6 w-6" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"/>
                    </svg>
                    <span class="mt-2">UI</span>
                </a>

                <a th:href="@{/account/manageFaqs}"
                   class="text-indigo-100 hover:bg-blue-700 hover:text-white group w-full p-3 rounded-md flex flex-col items-center text-xs font-medium">
                    <!-- Heroicon name: outline/photograph -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                    </svg>
                    <span class="mt-2">FAQs</span>
                </a>

                <a th:href="@{/account/manageWantTos}"
                   class="text-indigo-100 bg-blue-700 text-white group w-full p-3 rounded-md flex flex-col items-center text-xs font-medium">
                    <!-- Heroicon name: outline/user-group -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01"/>
                    </svg>
                    <span class="mt-2">IWantTo(s)</span>
                </a>

                <a th:href="@{/account/manageLinks}"
                   class="text-indigo-100 hover:bg-blue-700 hover:text-white group w-full p-3 rounded-md flex flex-col items-center text-xs font-medium">
                    <!-- Heroicon name: outline/collection -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"/>
                    </svg>
                    <span class="mt-2">Links</span>
                </a>
            </div>
        </div>
    </div>

    <div class="md:hidden" role="dialog" aria-modal="true">
        <!--
      Mobile menu

      Off-canvas menu for mobile, show/hide based on off-canvas menu state.
    -->
        <div class="fixed inset-0 z-40 flex">
            <!--
              Off-canvas menu overlay, show/hide based on off-canvas menu state.

              Entering: "transition-opacity ease-linear duration-300"
                From: "opacity-0"
                To: "opacity-100"
              Leaving: "transition-opacity ease-linear duration-300"
                From: "opacity-100"
                To: "opacity-0"
            -->
            <div class="fixed inset-0 bg-gray-600 bg-opacity-75" aria-hidden="true"></div>

            <!--
              Off-canvas menu, show/hide based on off-canvas menu state.

              Entering: "transition ease-in-out duration-300 transform"
                From: "-translate-x-full"
                To: "translate-x-0"
              Leaving: "transition ease-in-out duration-300 transform"
                From: "translate-x-0"
                To: "-translate-x-full"
            -->
            <div class="relative max-w-xs w-full bg-indigo-700 pt-5 pb-4 flex-1 flex flex-col">
                <!--
                  Close button, show/hide based on off-canvas menu state.

                  Entering: "ease-in-out duration-300"
                    From: "opacity-0"
                    To: "opacity-100"
                  Leaving: "ease-in-out duration-300"
                    From: "opacity-100"
                    To: "opacity-0"
                -->
                <div class="absolute top-1 right-0 -mr-14 p-1">
                    <button type="button"
                            class="h-12 w-12 rounded-full flex items-center justify-center focus:outline-none focus:ring-2 focus:ring-white">
                        <!-- Heroicon name: outline/x -->
                        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M6 18L18 6M6 6l12 12"/>
                        </svg>
                        <span class="sr-only">Close sidebar</span>
                    </button>
                </div>

                <div class="flex-shrink-0 px-4 flex items-center">
                    <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark.svg?color=white"
                         alt="Workflow">
                </div>
                <div class="mt-5 flex-1 h-0 px-2 overflow-y-auto">
                    <nav class="h-full flex flex-col">
                        <div class="space-y-1">
                            <!-- Current: "bg-indigo-800 text-white", Default: "text-indigo-100 hover:bg-indigo-800 hover:text-white" -->
                            <a th:href="@{/account}"
                               class="text-indigo-100 hover:bg-indigo-800 hover:text-white group py-2 px-3 rounded-md flex items-center text-sm font-medium">
                                <!--
                                  Heroicon name: outline/home

                                  Current: "text-white", Default: "text-indigo-300 group-hover:text-white"
                                -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"/>
                                </svg>
                                <span class="mt-2">Exit Admin</span>
                            </a>

                            <a th:href="@{/account/manageUsers}"
                               class="text-indigo-100 hover:bg-blue-700 hover:text-white group w-full p-3 rounded-md flex flex-col items-center text-xs font-medium">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
                                </svg>
                                <span class="mt-2">Users</span>
                            </a>

                            <a th:href="@{/account/manageUi}"
                               class="text-indigo-100 hover:bg-blue-700 hover:text-white group w-full p-3 rounded-md flex flex-col items-center text-xs font-medium">
                                <!-- Heroicon name: outline/view-grid -->
                                <svg class="text-indigo-300 group-hover:text-white h-6 w-6"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"/>
                                </svg>
                                <span class="mt-2">UI</span>
                            </a>

                            <a th:href="@{/account/manageFaqs}"
                               class="text-indigo-100 hover:bg-blue-700 hover:text-white group w-full p-3 rounded-md flex flex-col items-center text-xs font-medium">
                                <!-- Heroicon name: outline/photograph -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                </svg>
                                <span class="mt-2">FAQs</span>
                            </a>

                            <a th:href="@{/account/manageWantTos}"
                               class="text-indigo-100 hover:bg-blue-700 hover:text-white group w-full p-3 rounded-md flex flex-col items-center text-xs font-medium">
                                <!-- Heroicon name: outline/user-group -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01"/>
                                </svg>
                                <span class="mt-2">IWantTo(s)</span>
                            </a>

                            <a th:href="@{/account/manageLinks}"
                               class="text-indigo-100 hover:bg-blue-700 hover:text-white group w-full p-3 rounded-md flex flex-col items-center text-xs font-medium">
                                <!-- Heroicon name: outline/collection -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"/>
                                </svg>
                                <span class="mt-2">Links</span>
                            </a>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="flex-shrink-0 w-14" aria-hidden="true">
                <!-- Dummy element to force sidebar to shrink to fit close icon -->
            </div>
        </div>
    </div>


    <!-- Content area -->
    <div class="flex-1 flex flex-col overflow-hidden">
        <!-- Main content -->
        <div class="grid grid-flow-col h-full">
            <div class="flex-1 flex items-stretch overflow-hidden col-span-2">
                <main class="flex-1 h-full">
                    <!-- Primary column -->
                    <div class="flex items-center justify-center p-3 h-full overflow-auto h-32">
                        <div class="w-full h-full bg-white rounded-xl overflow-hidden cursor-pointer shadow-md">
                            <div class="p-4 overflow-auto h-full">
                                <div>
                                    <div class="grid grid-flow-col justify-content-center">
                                        <div class="col-span-8 text-center">
                                            <h3 class="text-center">
                                                High Priority.
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3 border-t border-gray-200">
                                    <dl class="divide-y divide-gray-200">
                                        <div th:block th:each="wantTo : ${listWantTo}"
                                             class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 grid justify-items-center"
                                             th:if="${!wantTo.hidden and wantTo.priority.name() == 'HIGH'}">
                                            <dt class="text-sm font-medium text-gray-500">
                                                <span class="flex-grow"><a th:text="${wantTo.title}"></a></span>
                                            </dt>
                                            <dt class="text-sm font-medium text-gray-500">
                                          <span
                                                class="flex-grow"><a th:text="${wantTo.description}"></a></span>
                                            </dt>
                                            <dt class="text-sm font-medium text-gray-500">
                                                <a th:href="@{'/account/manageWantTos/edit/' + ${wantTo.id}}"
                                                   type="button"
                                                   class="bg-white rounded-md text-lg font-bold bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                                    Edit
                                                </a>
                                            </dt>
                                        </div>
                                    </dl>
                                </div>
                                <div class="pt-10">
                                    <div class="col-span-8 text-center">
                                        <h3>
                                            Medium Priority.
                                        </h3>
                                    </div>
                                    <div class="mt-3 border-t border-gray-200">
                                        <dl class="divide-y divide-gray-200">
                                            <div th:block th:each="wantTo : ${listWantTo}"
                                                 class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 grid justify-items-center"
                                                 th:if="${!wantTo.hidden and wantTo.priority.name() == 'MEDIUM'}">
                                                <dt class="text-sm font-medium text-gray-500">
                                                    <span class="flex-grow"><a th:text="${wantTo.title}"></a></span>
                                                </dt>
                                                <dt class="text-sm font-medium text-gray-500">
                                          <span
                                                class="flex-grow"><a th:text="${wantTo.description}"></a></span>
                                                </dt>
                                                <dt class="text-sm font-medium text-gray-500">
                                                    <a th:href="@{'/account/manageWantTos/edit/' + ${wantTo.id}}"
                                                       type="button"
                                                       class="bg-white rounded-md text-lg font-bold bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                                        Edit
                                                    </a>
                                                </dt>
                                            </div>
                                        </dl>
                                    </div>
                                    <div class="pt-10">
                                        <div class="col-span-8 text-center">
                                            <h3>
                                                Low Priority.
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="mt-3 border-t border-gray-200">
                                        <dl class="divide-y divide-gray-200">
                                            <div th:block th:each="wantTo : ${listWantTo}"
                                                 class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 grid justify-items-center"
                                                 th:if="${!wantTo.hidden and wantTo.priority.name() == 'LOW'}">
                                                <dt class="text-sm font-medium text-gray-500">
                                                    <span class="flex-grow"><a th:text="${wantTo.title}"></a></span>
                                                </dt>
                                                <dt class="text-sm font-medium text-gray-500">
                                          <span
                                                class="flex-grow"><a th:text="${wantTo.description}"></a></span>
                                                </dt>
                                                <dt class="text-sm font-medium text-gray-500">
                                                    <a th:href="@{'/account/manageWantTos/edit/' + ${wantTo.id}}"
                                                       type="button"
                                                       class="bg-white rounded-md text-lg font-bold bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                                        Edit
                                                    </a>
                                                </dt>
                                            </div>
                                        </dl>
                                    </div>
                                    <div class="pt-10">
                                        <div class="col-span-8 text-center">
                                            <h3 th:text="${'Hidden ' + {pageTitle}}">
                                                Hidden I Want-To
                                            </h3>
                                            <p class="text-center">
                                                The link in this section are NOT visible on the site, ito change this, edit the link and then uncheck the "hidden" feature.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="mt-3 border-t border-gray-200">
                                        <dl class="divide-y divide-gray-200">
                                            <div th:block th:each="wantTo : ${listWantTo}"
                                                 class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 grid justify-items-center"
                                                 th:if="${wantTo.hidden}">
                                                <dt class="text-sm font-medium text-gray-300">
                                                    <span class="flex-grow"><a th:text="${wantTo.title}"></a></span>
                                                </dt>
                                                <dt class="text-sm font-medium text-gray-300">
                                          <span
                                                class="flex-grow"><a th:text="${wantTo.description}"></a></span>
                                                </dt>
                                                <dt class="text-sm font-medium text-gray-500">
                                                    <a th:href="@{'/account/manageWantTos/edit/' + ${wantTo.id}}"
                                                       type="button"
                                                       class="bg-white rounded-md text-lg font-bold bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                                        Edit
                                                    </a>
                                                </dt>
                                            </div>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div class="flex-1 flex items-stretch overflow-hidden">
                <main class="flex-1 h-full">
                    <!-- Secondary column -->
                    <div class="flex items-center justify-center p-3 h-full">
                        <div class="w-full h-full bg-white rounded-xl overflow-hidden cursor-pointer shadow-md">
                            <div class="p-4">
                                <div class="col-span-2 justify-items-end">
                                    <form th:action="@{/account/manageWantTos/new}" th:object="${faq}"
                                          th:method="get">
                                        <button type="submit"
                                                class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                                                th:onclick="|window.location.href='@{/access/manageWantTos/save/}'|">
                                            Add New I Want To
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>
</body>
</html>