<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>

<div class="container p-1">
    <div class="row">

        <div class="col-2">
            <nav th:replace="fragments :: adminNav"></nav>
        </div>


        <div class="col-6">
            <table class="table table-bordered">
                <th:block th:each="user : ${listUsers}" class="container">
                    <tr>
                        <td> <a  th:text="${user.username}">></a> </td>
                        <td> <a th:href="@{'/admin/manageUsers/edit/' + ${user.id}}">edit</a> </td>
                    </tr>
                </th:block>
            </table>
        </div>


        <div class="col-4">
            <form th:action="@{/register}" th:object="${user}" th:method="get" style="max-width: 600px; margin: 0; auto">
                <div class="m-3">
                    <div class="text-center p-3">
                        <button type="submit" class="btn btn-success">Register a New User</button>
                    </div>
                </div>
            </form>
        </div>


    </div>
</div>


</body>
</html>