<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>

<section id="priorities" class="align-items-center" th:fragment="TopSection">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <nav th:replace="fragments :: adminNav"></nav>
            </div>
            <div class="col-4">
                <form th:action="@{/logout}" th:object="${user}" th:method="get">
                    <div class="m-3">
                        <div class="text-center p-3">
                            <button type="submit" class="btn btn-success">logout</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>