<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body>
<!-- ======= Header ======= -->
<header th:replace="fragments :: header"></header>


<!-- ======= About Section ======= -->
<section id="priorities" class="align-items-center">
    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="/img/values-1.png" class="img-fluid animated" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3 th:text="${about1Title}"></h3>
                    <p th:text="${about1Description}"></p>
                </div>
            </div>
        </div>
    </section>

    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3 th:text="${about2Title}"></h3>
                    <p th:text="${about2Description}"></p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> Dennis Sheets: backend - Java & MySQL</li>
                        <li><i class="bi bi-check-circle"></i> Enrique Mendez Roger: frontend - BootStrap, HTML,& CSS</li>
                    </ul>
                    <p>

                    </p>
                </div>
                <div class="col-lg-6">
                    <img src="/img/values-2.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="/img/values-3.png" class="img-fluid animated" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3 th:text="${about3Title}"></h3>
                    <p th:text="${about3Description}">

                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> International Institute Saint Louis.</li>
                        <li><i class="bi bi-check-circle"></i> Migrant and Immigrant Community Action Project STL.</li>
                        <li><i class="bi bi-check-circle"></i> Al Otro Lado.</li>
                    </ul>
                    <p>

                    </p>
                </div>
            </div>
        </div>
    </section>
</section>

<!-- ======= Scripts ======= -->
<section th:replace="fragments :: scripts"></section>

<!-- ======= Footer ======= -->
<footer th:replace="fragments :: footer"></footer>
</body>

</html>