<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http:/www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: head"></head>
<body>
<!-- ======= Header ======= -->
<header th:replace="fragments :: header"></header>

<section id="priorities" class="align-items-center">
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <div class="section-title justify-content-center">
                <h1>Contact Us</h1>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row justify-content-center">
        <div class="row justify-content-center">

            <div class="col-lg-6">
                <form th:action="@{/contact}" method="post" class="php-email-form"
                      enctype="multipart/form-data">
                    <div class="row gy-4">

                        <div class="col-md-6">
                            <input type="text" name="fullname" class="form-control" placeholder="Your Name" required
                                   minlength="3" maxlength="45">
                        </div>

                        <div class="col-md-6 ">
                            <input type="email" name="email" class="form-control" required maxlength="45"
                                   placeholder="Your Email">
                        </div>

                        <div class="col-md-12">
                            <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                        </div>

                        <div class="col-md-12">
                            <textarea class="form-control" name="subject" type="text" rows="6" placeholder="Subject"
                                      minlength="15" maxlength="100"
                                      required></textarea>
                        </div>

                        <div class="col-md-12">
                            <label for="formFileLg" class="form-label"></label>
                            <input class="form-control form-control-md" name="attachment" id="formFileLg" type="file">
                        </div>

                        <div class="col-md-12 text-center">
                            <button class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                                    type="submit" value="send">Send Message
                            </button>
                        </div>

                    </div>
                </form>

            </div>

        </div>

    </div>
</div>

</body>
</html>