<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http:/www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: head"></head>
<body>
<!-- ======= Header ======= -->
<header th:replace="fragments :: header"></header>


<section id="contact" class="contact">

    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h1>Contact Us</h1>
            </div>
        </div>

        <div class="row justify-content-center">

            <div class="col-lg-6">
                    <form th:action="@{/contact}"  method="post" class="php-email-form"
                          enctype="multipart/form-data">
                    <div class="row gy-4">

                        <div class="col-md-6">
                            <input type="text" name="fullname" class="form-control" placeholder="Your Name" required minlength="3" maxlength="45">
                        </div>

                        <div class="col-md-6 ">
                            <input type="email" name="email" class="form-control" required maxlength="45" placeholder="Your Email">
                        </div>

                        <div class="col-md-12">
                            <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                        </div>

                        <div class="col-md-12">
                            <textarea class="form-control" name="subject" type="text" rows="6" placeholder="Subject" minlength="15" maxlength="100"
                                      required></textarea>
                        </div>

                        <div class="col-md-12">
                            <input class="custom-file-input form-control" type="file" name="attachment">
                            <label class="custom-file-label form-control">Choose file...</label>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>

                            <button type="submit" value="send">Send Message</button>
                        </div>

                    </div>
                </form>

            </div>

        </div>

    </div>

</section><!-- End Contact Section -->

</body>
</html>