<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>

<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>

        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">

                        <div class="col-lg-10 col-xl-7 mx-auto">

                            <h3 class="display-4">Forgot Password</h3>
                            <p class="text-muted mb-4">We will be sending a password reset link to your e-mail. </p>
                            <form method="post" action="reset_password">

                                <div class="form-group mb-3">
                                     <input type="email" name="email"  placeholder="Enter your e-mail" required=""
                                           autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                    <div th:if="${error != null}">
                                        <p class="alert" style="color:red;">[[${error}]]</p>
                                    </div>
                                    <div th:if="${message != null}">
                                        <p class="alert" style="color:green;">[[${message}]]</p>
                                    </div>

                                </div>

                                 <button type="submit"
                                        class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">
                                    Submit
                                </button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- ======= Scripts ======= -->
<section th:replace="fragments :: scripts"></section>

</body>
</html>