<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Welcome App</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

</head>
<body >
    <header th:fragment="header">
        <h1 th:text = "${title}"></h1>
        <nav>
            <ul class="nav justify-content-center">
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/wantTo}">I Want To</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/about}">About Us</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/help}">Help</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/login}">login</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/admin}">Admin login</a></li>
            </ul>
        </nav>
    </header>

    <nav th:fragment="adminNav">
        <ul class="nav justify-content-center">
            <li class="nav-item"><a class="nav-link" th:href="@{/admin/}">Admin Tools</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/admin/users}">Manage Users</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/admin/welcome}">Manage Welcome Page</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/admin/faqs}">Manage FAQ</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/admin/wantTos}">Manage WantTo</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/admin/links}">Manage Links</a></li>

        </ul>
    </nav>
</body>
</html>