<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>

<section id="priorities" class="align-items-center" th:fragment="TopSection">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <nav th:replace="fragments :: adminNav"></nav>
            </div>

            <div class="col-6">
                <table class="table table-bordered">
                    <th:block th:each="faq : ${listFaqs}" class="container">
                        <tr th:unless="${faq.hidden}">
                            <td><a th:text="${faq.question}"></a></td>
                        </tr>
                    </th:block>
                </table>

                <table class="table table-bordered">
                    <th:block th:each="faq : ${listFaqs}" class="container">
                        <tr th:if="${faq.hidden}">
                            <td style="color:LightGray"><a th:text="${'-HIDDEN-  ' +{faq.question}}"></a></td>
                        </tr>
                    </th:block>
                </table>
            </div>

            <div class="col-4">
                <form th:action="@{/access/manageFaqs/save}" th:object="${faq}" th:method="post">
                    <input type="hidden" th:field="*{id}" th:value="${faq.id}"/>
                    <div class="m-3">

                        <div Class="form-group row">
                            <label class="col-form-Label col-sm-4">FAQ Question:</label>
                            <div class="col-sm-8">
                                <input type="text" th:field="*{question}" class="form-control" required/>
                            </div>
                        </div>

                        <div Class="form-group row">
                            <label class="col-form-Label col-sm-4">FAQ Answer:</label>
                            <div class="col-sm-8">
                                <input type="text" th:field="*{answer}" class="form-control" required/>
                            </div>
                        </div>

                        <div Class="form-group row">
                            <label class="col-form-Label col-sm-4">Hidden:</label>
                            <div class="col-sm-8">
                                <input type="checkbox" th:field="*{hidden}" class="form-control"/>
                            </div>
                        </div>

                        <div Class="form-group row">
                            <div>
                                <a th:href="@{/access/manageFaqs/}" class="btn btn-primary">BACK</a>
                                <button type="submit" th:text="${button}" class="btn btn-success">SAVE</button>

                            </div>
                        </div>

                        <div Class="form-group row">
                            <label class="col-form-Label col-sm-4">Links:</label>
                            <table class="table-bordered col-sm-8">
                                <th:block th:each="link : ${faq.links}">
                                    <tr>
                                        <td><a th:text="${link.name}"></a></td>
                                        <td><a th:href="@{'/access/manageLinks/edit/' + ${link.id}}">edit</a></td>
                                    </tr>
                                </th:block>
                            </table>
                        </div>

                        <div Class="form-group row">
                            <div>
                                <a th:href="@{'/access/manageLinks/newFaqLink/' + ${faq.id}}" class="btn btn-success">Add
                                    New Link</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>