<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<!-- ======= Header ======= -->
<header th:replace="fragments :: header"></header>

<section id="priorities" class="align-items-center">
    <div class="container">
        <div class="row">
            <h1 th:text="${highPriorityTitle}" class="section-title text-center" ></h1>
            <h2 th:text="${highPriorityDescription}"></h2>
        </div>
    </div>
    </div>
</section>


<section id="featured-services" class="featured-services">
    <div class="container">
        <div class="row">
            <th:block th:each="wantTo : ${listWantTo}" class="container">
                <div th:if="${!wantTo.hidden and wantTo.priority.name() == 'HIGH'}" class="col-lg-4 col-md-6 cards-priorities">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-laptop"></i></div>
                        <h4 class="title"><a th:href="@{'/wantTo/wantTo/' + ${wantTo.id}}"
                                             th:text="${wantTo.title}"></a></h4>
                        <p class="description" th:text="${#strings.abbreviate(wantTo.description,200) + '...'}"></p>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</section>


<section id="medium" class="align-items-center">
    <div class="container">
        <div class="row">
            <h1 th:text="${medPriorityTitle}" class="section-title-blue text-center"></h1>
            <h2 th:text="${medPriorityDescription}"></h2>
        </div>
    </div>
    </div>
</section>


<section id="blue-priorities" class="blue-priorities">
    <div class="container">
        <div class="row">
            <th:block th:each="wantTo : ${listWantTo}" class="container">
                <div th:if="${!wantTo.hidden and wantTo.priority.name() == 'MEDIUM'}" class="col-lg-4 col-md-6 cards-priorities">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-laptop"></i></div>
                        <h4 class="title"><a th:href="@{'/wantTo/wantTo/' + ${wantTo.id}}"
                                             th:text="${wantTo.title}"></a></h4>
                        <p class="description" th:text="${#strings.abbreviate(wantTo.description,150) + '...'}"></p>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</section>


<section id="normal-title" class="align-items-center">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <span>Low Priority</span>
                <h2>Low Priority</h2>
            </div>
            <h1 th:text="${lowPriorityTitle}" class="section-title text-center"></h1>
            <h2 th:text="${lowPriorityDescription}"></h2>
        </div>
    </div>
    </div>
</section>

<section id="normal" class="featured-services">
    <div class="container">
        <div class="row">
            <th:block th:each="wantTo : ${listWantTo}" class="container">
                <div th:if="${!wantTo.hidden and wantTo.priority.name() == 'LOW'}" class="col-lg-4 col-md-6 cards-priorities">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-laptop"></i></div>
                        <h4 class="title"><a th:href="@{'/wantTo/wantTo/' + ${wantTo.id}}"
                                             th:text="${wantTo.title}"></a></h4>
                        <p class="description" th:text="${#strings.abbreviate(wantTo.description,150) + '...'}"></p>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</section>

<!-- ======= Scripts ======= -->
<section th:replace="fragments :: scripts"></section>

<!-- ======= Footer ======= -->
<footer th:replace="fragments :: footer"></footer>

</body>
</html>