<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
    <div>
        <p th:text="${wantTo.title}"></p>
        <p th:text="${wantTo.priority}+' Priority'"></p>
        <p th:text="${wantTo.description}"></p>

        <p> Links:
        <ul>
            <li th:each="link : ${wantTo.links}">
                <a th:href="@{${link.url}}" th:text="${link.name}"></a>
            </li>
        </ul>
        </p>
    </div>
</body>
</html>