<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<!-- ======= Introduction Section ======= -->
<section id="features" class="features">
    <div class="container">
        <!-- Feature Tabs -->
        <div class="row feture-tabs">
            <div class="col-lg-7">
                <h3 th:text="${wantTo.title}"></h3>
                <!-- Tab Content -->
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab1">
                        <p th:text="${wantTo.description}"></p>
                    </div>
                </div>
            </div><!-- End Feature Tabs -->
            <div class="col-lg-5">
                <img src="/img/features-2.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section><!-- End Introduction Section -->


<!-- ======= Links Section ======= -->
<section id="services" class="services">
    <div class="container">
        <header class="section-header">
            <h2>Links</h2>
            <p>More information about this topic clicking the links below.</p>
        </header>
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6" th:each="link : ${wantTo.links}">
                    <div class="service-box blue"  th:onclick="|window.location.href='@{${link.url}}'|">
                        <i class="ri-discuss-line icon"></i>
                        <a th:href="@{${link.url}}" ><h3 th:text="${link.name}"></h3></a>
                        <a th:href="@{${link.url}}" th:text="${link.name}" class="read-more"><i
                                class="bi bi-arrow-right"></i></a>
                    </div>
                </a>
            </div>
        </div>
    </div>

</section><!-- End Services Section -->

<!-- ======= Map Section Section ======= -->
<!-- Hiding the content of the map, that is not useful right now.

<section id="contact" class="contact">
    <div class="container">
        <div class="section-title">
            <span>Map</span>
            <h2>Map</h2>
            <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>
        <div class="info">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                    frameborder="0" style="border:0; width: 100%; height: 350px;" allowfullscreen></iframe>
        </div>
    </div>
</section>
-->
<!-- End Contact Section -->


<header th:replace="fragments :: header"></header>

<!-- ======= Scripts ======= -->
<section th:replace="fragments :: scripts"></section>

<!-- ======= Footer ======= -->
<footer th:replace="fragments :: footer"></footer>

</body>
</html>