<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http:/www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: head"></head>
<body>
<!-- ======= Header ======= -->
<header th:replace="fragments :: header"></header>

<section id="priorities" class="align-items-center d-flex justify-content-center align-items-center">
<div class="containers">
    <div class="row ">
        <div class="section-title text-center">
            <h1>Contact US</h1>
            <p> Thank you for your message.</p>
        </div>
    </div>
</div>
</section>

</body>
</html>