<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http:/www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: head"></head>
<body>
<!-- ======= Header ======= -->
<header th:replace="fragments :: header"></header>


<div class="containers">

    <!-- ----------- THIS IS GARBAGE TO PUSH THE FORM DOWN TO WHERE IT IS USABLE ---------- -->
    <div>
        <h1> -</h1>
        <h1> -</h1>
        <h1> -</h1>
        <h1> -</h1>
        <h1> -</h1>
        <h1> -</h1>
        <h1> -</h1>
        <h1> -</h1>
        <h1> -</h1>
        <h1> -</h1>
        <h1> -</h1>
        <h1> -</h1>

    </div>
    <!--  --------------------------------------------------------------------------------- -->

    <div class="text-center">
        <h1>Thank you for the feedback!</h1>
        <p>It is now in the que for the Web Development team to review.</p>

    </div>

</div>

</body>
</html>