<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http:/www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: head"></head>
<body>
<!-- ======= Header ======= -->
<header th:replace="fragments :: header"></header>


<div class="containers">

    <!-- ----------- THIS IS GARBAGE TO PUSH THE FORM DOWN TO WHERE IT IS USABLE ---------- -->
    <div>
        <h1> -</h1>
        <h1> -</h1>
        <h1> -</h1>
        <h1> -</h1>

    </div>
    <!--  --------------------------------------------------------------------------------- -->

    <div class="text-center">
        <h1>Registration</h1>
        <p> Your registration has been received. A verification email was sent to the email address
            that you registered with. Please click on the link contained in the email
            to complete your registration process. You will not be able to access
            your account until you do.</p>
    </div>

</div>

</body>
</html>